# 1. Tuples

## 1.1 Introduction

Tuples are used to store multiple items in a single variable.It is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.

They are a collection which is ordered and unchangeable. We write it with round brackets.

**Syntax:**

mytuple = ("apple", "banana", "cherry")

In [4]:
# Create a Tuple.

thistuple = ("apple", "banana", "cherry")

print(thistuple)

('apple', 'banana', 'cherry')

## 1.2 Tuple Items

Tuple items are ordered, unchangeable, and allow duplicate values.

Tuple items are indexed, the first item has index [0], the second item has index [1] etc.

## 1.3 Ordered

When we say that tuples are ordered, it means that the items have a defined order, and that order will not change.

## 1.4 Unchangeable

Tuples are unchangeable, meaning that we cannot change, add or remove items after the tuple has been created.

## 1.5 Allowing Duplicates

Since tuples are indexed, they can have items with the same value.

In [5]:
# Tuples allow duplicate values.

thistuple = ("apple", "banana", "cherry", "apple", "cherry")

print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

## 1.6 Tuple Length

To determine how many items a tuple has, use the len() function.

In [6]:
# Print the number of items in the tuple.

thistuple = ("apple", "banana", "cherry")

print(len(thistuple))

3

## 1.7 Creating Tuple With One Item

To create a tuple with only one item, add a comma after the item, otherwise Python will not recognize it as a tuple.

In [7]:
# One item tuple, remember the comma.

thistuple = ("apple",)

print(type(thistuple))

# Not a tuple.

thistuple = ("apple")

print(type(thistuple))

<class 'tuple'>
<class 'str'>

## 1.8 Tuple Items - Data Types

Tuple items can be of any data type.

In [9]:
# String, int and boolean data types.

tuple1 = ("apple", "banana", "cherry")

tuple2 = (1, 5, 7, 9, 3)

tuple3 = (True, False, False)

# A tuple can contain different data types.

In [10]:
# A tuple with strings, integers and boolean values.

tuple1 = ("abc", 34, True, 40, "male")

## 1.9 type()

From Python's perspective, tuples are defined as objects with the data type 'tuple'.

In [11]:
# What is the data type of a tuple?

mytuple = ("apple", "banana", "cherry")

print(type(mytuple))

<class 'tuple'>

## 1.10 The tuple() Constructor

It is also possible to use the tuple() constructor to make a tuple.

In [12]:
# Using the tuple() method to make a tuple.

thistuple = tuple(("apple", "banana", "cherry")) # Note the double round-brackets.

print(thistuple)

('apple', 'banana', 'cherry')

# 2. Accessing Tuples

## 2.1 Accessing Tuple Items

You can access tuple items by referring to the index number, inside square brackets.

In [14]:
# Print the second item in the tuple.

thistuple = ("apple", "banana", "cherry")

print(thistuple[1])

# Note: The first item has index 0.

banana

## 2.2 Negative Indexing

Negative indexing means start from the end.

-1 refers to the last item, -2 refers to the second last item, etc.

In [15]:
# Print the last item of the tuple.

thistuple = ("apple", "banana", "cherry")

print(thistuple[-1])

cherry

## 2.3 Range of Indexes

You can specify a range of indexes by specifying where to start and where to end the range.

When specifying a range, the return value will be a new tuple with the specified items.

In [16]:
# Return the third, fourth, and fifth item.

thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")

print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

**Note:** The search will start at index 2 (included) and end at index 5 (not included).

Remember that the first item has an index 0. By leaving out the start value, the range will start at the first item:

In [17]:
# This example returns the items from the beginning to, but NOT included, "kiwi".

thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")

print(thistuple[:4])

('apple', 'banana', 'cherry', 'orange')

In [18]:
# By leaving out the end value, the range will go on to the end of the list.

# This example returns the items from "cherry" and to the end.

thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")

print(thistuple[2:])

('cherry', 'orange', 'kiwi', 'melon', 'mango')

## 2.4 Range of Negative Indexes

Specify negative indexes if you want to start the search from the end of the tuple.

In [19]:
# This example returns the items from index -4 (included) to index -1 (excluded).

thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")

print(thistuple[-4:-1])

('orange', 'kiwi', 'melon')

## 2.5 Checking if Item Exists

To determine if a specified item is present in a tuple, use the in keyword.

In [20]:
# Check if "apple" is present in the tuple.

thistuple = ("apple", "banana", "cherry")

if "apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

# 3. Updating Tuples

Tuples are unchangeable, meaning that you cannot change, add, or remove items once the tuple is created.

But there are some workarounds.

## 3.1 Changing Tuple Values

Once a tuple is created, you cannot change its values. Tuples are unchangeable, or immutable, as it also is called.

But there is a workaround. You can convert the tuple into a list, change the list, and convert the list back into a tuple.

In [21]:
# Convert the tuple into a list to be able to change it.

x = ("apple", "banana", "cherry")

y = list(x)

y[1] = "kiwi"

x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

## 3.2 Adding Items

Since tuples are immutable, they do not have a build-in append() method, but there are other ways to add items to a tuple.

1. **Convert into a List:** Just like the workaround for changing a tuple, you can convert it into a list, add your item(s), and convert it back into a tuple.

In [22]:
# Convert the tuple into a list, add "orange", and convert it back into a tuple.

thistuple = ("apple", "banana", "cherry")

y = list(thistuple)

y.append("orange")

thistuple = tuple(y)

2. **Add Tuple to a Tuple:** You are allowed to add tuples to tuples, so if you want to add one item, (or many), create a new tuple with the item(s), and add it to the existing tuple:

In [23]:
# Create a new tuple with the value "orange", and add that tuple.

thistuple = ("apple", "banana", "cherry")

y = ("orange",)

thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

**Note :** 

- When creating a tuple with only one item, remember to include a comma after the item, otherwise it will not be identified as a tuple.
- You cannot remove items in a tuple.

## 3.3 Removing Items

Tuples are **unchangeable**, so you cannot remove items from it, but you can use the same workaround as we used for changing and adding tuple items.

In [25]:
# Convert the tuple into a list, remove "apple", and convert it back into a tuple.

thistuple = ("apple", "banana", "cherry")

y = list(thistuple)

y.remove("apple")

thistuple = tuple(y)

# Or you can delete the tuple completely.

In [26]:
# The del keyword can delete the tuple completely.

thistuple = ("apple", "banana", "cherry")

del thistuple

print(thistuple) # This will raise an error because the tuple no longer exists.

NameError: name 'thistuple' is not defined

# 4. Unpacking Tuples

## 4.1 Unpacking a Tuple

When we create a tuple, we normally assign values to it. This is called "packing" a tuple.

In [27]:
# Packing a tuple.

fruits = ("apple", "banana", "cherry")

# But, in Python, we are also allowed to extract the values back into variables. 
# This is called "Unpacking".

In [30]:
# Unpacking a tuple.

fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)

print(yellow)

print(red)

apple
banana
cherry

**Note:** The number of variables must match the number of values in the tuple. If not, you must use an asterisk to collect the remaining values as a list.

## 4.2 Using Asterisk*

If the number of variables is less than the number of values, you can add an * to the variable name and the values will be assigned to the variable as a list.

In [31]:
# Assign the rest of the values as a list called "red".

fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)

print(yellow)

print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

If we add the asterisk to another variable name than the last, Python will assign values to the variable until the number of values left matches the number of variables left.

In [32]:
# Add a list of values the "tropic" variable.

fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)

print(tropic)

print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

# 5. Looping Tuples

## 5.1 Looping Through a Tuple

You can loop through the tuple items by using a for loop.

In [33]:
# Iterate through the items and print the values.

thistuple = ("apple", "banana", "cherry")

for x in thistuple:
  print(x)

apple
banana
cherry

## 5.2 Looping Through the Index Numbers

You can also loop through the tuple items by referring to their index number.

Use the range() and len() functions to create a suitable iterable.

In [34]:
# Print all items by referring to their index number.

thistuple = ("apple", "banana", "cherry")

for i in range(len(thistuple)):
  print(thistuple[i])

apple
banana
cherry

## 5.3 Using a While Loop

You can loop through the list items by using a while loop.

Use the len() function to determine the length of the tuple, then start at 0 and loop your way through the tuple items by refering to their indexes. Remember to increase the index by 1 after each iteration.

In [35]:
# Print all items, using a while loop to go through all the index numbers.

thistuple = ("apple", "banana", "cherry")

i = 0

while i < len(thistuple):
  print(thistuple[i])
  i = i + 1

apple
banana
cherry

# 6. Joining Tuples

## 6.1 Joining Two Tuples

To join two or more tuples, you can use the + operator.

In [36]:
# Join two tuples.

tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2

print(tuple3)

('a', 'b', 'c', 1, 2, 3)

## 6.2 Multiplying Tuples

If you want to multiply the content of a tuple a number of times, you can use the * operator.

In [37]:
# Multiply the fruits tuple by 2.

fruits = ("apple", "banana", "cherry")

mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

# 7. Tuple Methods

Python has two built-in methods that you can use on tuples.

- **count():**	Returns the number of times a specified value occurs in a tuple.

- **index():**	Searches the tuple for a specified value and returns the position of where it was found.

# Practice

In [1]:
t = ()
type(t)

tuple

In [2]:
l = []
type(l)

list

In [3]:
t1 = (234,34,"sudh",3.45,True)

In [4]:
l1 = [234,34,"sudh",3,45,True]

In [5]:
t1[4]

True

In [6]:
t1[5]

IndexError: tuple index out of range

In [7]:
l1[4]

45

In [8]:
l1[5]

True

In [9]:
t1[::-1]

(True, 3.45, 'sudh', 34, 234)

In [10]:
t1[-1]

True

# Practice

In [11]:
# List is a mutable collection.

l1[0] = "kumar"
l1

['kumar', 34, 'sudh', 3, 45, True]

In [12]:
# Tuple is a immutable collection.

t1[0] = "kumar"

TypeError: 'tuple' object does not support item assignment

In [13]:
t1 = (234,34,"sudh",3.45,True)

In [14]:
t2 = (234,45,3333333)
t1 + t2

(234, 34, 'sudh', 3.45, True, 234, 45, 3333333)

In [15]:
t1 * 4

(234,
 34,
 'sudh',
 3.45,
 True,
 234,
 34,
 'sudh',
 3.45,
 True,
 234,
 34,
 'sudh',
 3.45,
 True,
 234,
 34,
 'sudh',
 3.45,
 True)

In [16]:
34 in t1

True

In [17]:
"sudh" in t1

True

In [18]:
t1

(234, 34, 'sudh', 3.45, True)

In [19]:
max(t1)

TypeError: '>' not supported between instances of 'str' and 'int'

In [20]:
t3 = (23,343,23,23,23,45,454,43)
max(t3)

454

In [21]:
t4 = ("hi","wow","hello")
max(t4)

'wow'

In [22]:
t3.count(23)

4

In [23]:
t3.index(23)

0

In [24]:
t3.index(1001)

ValueError: tuple.index(x): x not in tuple

In [25]:
t3.count(1001)

0

In [26]:
t3

(23, 343, 23, 23, 23, 45, 454, 43)

In [27]:
min(t3)

23

In [28]:
min(t4)

'hello'

# Practice

- Convert Tuple to List & Vice Versa.

- Note that insertion is not possible in tuple.

In [29]:
t1 = (34,44,56,55,67,67,78,89)

In [30]:
l1 = [2,3,4,5,6,7,8,9,10]

In [31]:
t2 = list(t1)
t2

[34, 44, 56, 55, 67, 67, 78, 89]

In [32]:
type(t2)

list

In [33]:
t2.insert(0,"first element")
t2

['first element', 34, 44, 56, 55, 67, 67, 78, 89]

In [34]:
tuple(t2)

('first element', 34, 44, 56, 55, 67, 67, 78, 89)

# Practice

In [35]:
t = ( (3,4,5,6,7),("sfsfsfsfsfsfsf",45,45),("454",54),45,454,67, [4,5,6,7,7] )

In [36]:
t[6][1]

5

In [37]:
t[6][1:3]

[5, 6]

In [38]:
t[1][0]

'sfsfsfsfsfsfsf'

In [39]:
for i in t:
  print(i)

(3, 4, 5, 6, 7)
('sfsfsfsfsfsfsf', 45, 45)
('454', 54)
45
454
67
[4, 5, 6, 7, 7]

In [40]:
for i in t:
  if type(i) == tuple:
    print(i[0])

3
sfsfsfsfsfsfsf
454

In [41]:
t1

(34, 44, 56, 55, 67, 67, 78, 89)

In [42]:
t2

['first element', 34, 44, 56, 55, 67, 67, 78, 89]

In [43]:
t3 = tuple(t2)
t3

('first element', 34, 44, 56, 55, 67, 67, 78, 89)

In [44]:
len(t1)

8

In [45]:
len(t3)

9

In [46]:
t3

('first element', 34, 44, 56, 55, 67, 67, 78, 89)

In [47]:
e = input("Take a user input: ")
if e in t3:
  print("Yes this element is in the tuple.")

Take a user input:

In [48]:
l1

[2, 3, 4, 5, 6, 7, 8, 9, 10]

# Practice

In [49]:
t1 = (34)
del(t1)

In [50]:
t1

NameError: name 't1' is not defined

In [51]:
l1 = [23,34,343,3333333]
del(l1)

In [52]:
l1

NameError: name 'l1' is not defined